.filme {
  display: flex;
  margin-top: 20vh;
  background-color: #222;
  color: #fff;
  padding: 40px 0;
}

.filme img {
  width: 22vw;
  height: 60vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  border-radius: 10px;
}

.detalhes {
  flex-direction: column;
  display: flex;
  color: white;
  margin-left: 2vw;
}

.sinopse {
  width: 40vw;
}


.title2 {
  margin-bottom: -20px;
}

.genres {
  display: flex;

}

.listaDeGeneros {
  display: flex;
  justify-content: space-around;
  margin-left: 1vw;
}


.profile-form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-form-buttons button {
  margin: 0px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.profile-form-buttons button:hover {
  background-color: #3E8E41;
}

.profile-details button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.profile-details button:hover {
  background-color: #3E8E41;
}
